@font-face {
  font-family: 'PicturamaFounder';
  src: url('./fonts/picturamafounder.otf');
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./fonts/coolvetica.otf');
}

:root {
  font-family: 'Coolvetica';
  --background-main: rgba(0, 0, 0, 0.849);
  --text-main: rgb(189, 189, 189);
  --text-secondary: rgba(223, 190, 0, 0.911);
}

body {
  background-image: url('./images/restaurant.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-main);
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  width: 100%;
  background-color: var(--background-main);
}

header > h1 {
  color: var(--text-main);
  font-family: 'PicturamaFounder';
  font-size: 6rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: solid 2px var(--text-main);
  width: 100%;
  background-color: var(--background-main);
}

nav > button {
  font-family: 'Coolvetica';
  font-size: 1.2rem;
  background-color:transparent;
  color: var(--text-main);
  cursor: pointer;
  border: none;
  border-bottom: solid 2px white;
  width: 100px;
  padding: 0.5rem;
  transition: 0.1s;
}

nav > button:hover {
  transform: scale(1.05);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin: 30px;
  padding: 30px;
  width: 60%;
  background-color: var(--background-main);
}

.reviews-container {
  text-align: center;
  margin: 15px;
}

.main p {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--text-secondary);
}

.main > img {
  border-radius: 100%;
  width: 30%;
  height: auto;
  margin-bottom: 30px;
}

.main > h2 {
  font-size: 2rem;
  font-weight: 100;
  text-align: center;
}

.schedule-container {
  text-align: center;
}

.schedule-container > h3 {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  text-align: center;
}

.reservation-container,
.suggestions-container,
.address-container {
  text-align: center;
}

.breakfast1,
.breakfast2,
.lunch1,
.lunch2,
.dinner1,
.dinner2 {
  display: grid;
  grid-template-columns: 160px 5fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.breakfast-container,
.lunch-container,
.dinner-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.breakfast-container h3,
.lunch-container h3,
.dinner-container h3 {
  text-align: center;
  font-size: 1.5rem;
}

.breakfast-container img,
.lunch-container img,
.dinner-container img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  justify-self: center;
  align-self: center;
}

.breakfast-container h4,
.lunch-container h4,
.dinner-container h4 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  align-self: end;
  font-size: 1.6rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.breakfast-container p:nth-child(3),
.lunch-container p:nth-child(3),
.dinner-container p:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  align-self: start;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.breakfast-container p:last-child,
.lunch-container p:last-child,
.dinner-container p:last-child {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: center;
  align-self: end;
  color: var(--text-main);
  margin: 0;
  padding: 0;
}

.footer {
  font-size: 1.2rem;
  border-top: solid 2px var(--text-main);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: auto;
  background-color: var(--background-main);
  width: 100%;
}

.active-tab {
  border-bottom: solid 2px var(--text-secondary);
}